*{
  font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding:0;
}

#container {
    width: 90%;   
}

input { 
  border-radius: 3px;
  position: center;
  align-items: center;
  background-color: salmon;
  padding: 10px;
  margin: 5px;
}


header{ 
  color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    height: 100px;
    display: flex;    
}

menu {  
 text-decoration-color: azure;
}

#logo {  
    width: 80%;  
}
#logo img {
margin: 1px;
    width: 40%;
    height: 95%;
}
nav{
  margin-left: 100px;
    margin-top: 39px;
    width: 60%;
}
nav ul {
  
list-style: none;
height: 50px;
display: flex;
   align-items: center;
    
  }
  
  nav li {
 
    margin-top: 5px;
    margin: 10px;
    display: inline;
    margin-right: 50px;
    
  }
  nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
 
  #content { 
    width: 100%;
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
  }
  #info { 
    
    width: 65%;
    background-color: #ffffff;
    
  }
  #banner { 
   
    display: flex;
    width: 100%;
  }

  .textss {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    margin-top: 20px;
  }
   
 .bann{
    width: 40%;
    text-align: left;
    
  }

  .textoban{
    width: 50%;
  }
  
  .textobon #button{
    color: rgb(211, 158, 12);
    height: 100px;
  }
  #info #textss { 
    display: flex;
  }
  #banner img { 
    height: 500px;
    width: 100%;
    
  }
  #barral {
    padding: 5px;
    background-color: rgb(0, 0, 0);
    width: 30%;
    color: white;
  }

  hr{ 
    margin: 10px;
  }
 
  #barral img{ 
    width: 40%;
    height: 100px;
  }





#targeta p{
  width: 50%;
}

#cards{
  width: 100%;
  
  flex-wrap: wrap;
}


  #targeta {
   margin-top: 50px;
    text-align: center;
    display: flex;
    width: 10%;
    height: 10px;
   display:inline-flex;
   margin-left: 30px;
    flex-wrap: wrap;
    background-color: rgb(196, 196, 144);
  }

#targeta text p{
font-size:50px;
  width: 100%;
  
  
 }

#hamburguer{
  display: none;
  margin: 25px;
  align-items: center;
}

#close {
  display: none;
}

#cardss{
  display: flex;
  
}


  #targetas {
   margin-top: 50px;
    text-align: center;
    
    width: 10%;
    height: 100px;
   display:inline-flex;
   margin-left: 30px;
    flex-wrap: wrap;
    background-color: rgb(196, 196, 144);
  }

#targetas text p{
font-size:50px;
  width: 100%;
  
 }

 footer {
  margin-top: 40px;
  background-color: #ffffff;
 

}
 footer .pie { 
display: flex;
 }
 .pie .infopie{ 
  display: flex;
  padding-right: 100px;
  justify-content: space-between;
 }
 footer img{
  height: 100px;
 }
 .pie .infopie .textopie{
  width: 75%;
 }
/*
@media(max-width:470px) {
  nav{
    background-color: blueviolet;
    position: absolute;
    top: 0px;
    height: 1000px;
 
    right: 0px;
    display: none;
  }
  nav ul{
    flex-direction: column;
    padding-top:60px;
  }
  nav ul li{
    margin: 30px 0;
     
  }

  #logo{
    width: 100%;
  }
  #logo img{
    width: 18%;
  }
  #hamburguer{
    display: block;
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 20;
  }
  #content{
    flex-direction: column;
  }
  #info{
    margin: 0;
    width: 100%;
  }
  #text{
    flex-direction: column;
  }
  #text h1{ 
    width: 100%;
  }
  #text #descripcion{ 
    width: 100%;
  }
  #barral{
    width: 95%;
    margin-top: 40px;
  }



  #cardss{
    width: 100%;
    
    flex-wrap: wrap;
  }
  
  
    #targetas {
     margin-top: 50px;
      text-align: center;
      display: flex;
      width: 10%;
      height: 100px;
     display:inline-flex;
     margin-left: 30px;
      flex-wrap: wrap;
      background-color: rgb(196, 196, 144);
    }
  
  #targetas text p{
  font-size:50px;
    width: 100%;
    
   }
}

*/

  @media (max-width:480px) {
    nav {
        position: absolute;
        background-color: white;
        height: 1000px;
        top: 0;
        right: 0;
    }

    nav ul {
        flex-direction: column;
        text-align: left;
        margin-top: 30px;
    }
    #logo {
      margin: 0px;
  }

  #logo img {
      width:40%;
  }

    nav ul li {
        margin: 20px 0;
    }

    #menu {
      margin-top: 0;
        display: none;
    }

    #hamburguer {
        display: block;
        position: absolute;
        z-index: 20;
        top: 10px;
        right: 20px;
    }

    header {
        margin-top: 10px;
    }

   

    #content {
        flex-direction: column;
    }

    #info {
        width: 100%;
        margin-bottom: 40px;
    }

    #barral {
        width: 100%;
    }

    #text {
        flex-direction: column;
    }

    #text h1 {
        width: 100%;
    }

    #text #descripcion {
        width: 100%;
    }

    #close {
      display: none;
        position: absolute;
        z-index: 20;
        top: 10px;
        right: 20px;
    }
   
    footer .pie {
      display: flex;
      flex-direction: column;
      margin: 5px;
    }

    .pie .infopie {
      flex-direction: column;
    margin: 40px;
    width:90%;
    }

    .pie .infopie {
      flex-direction: column;
    margin: 40px;
    width:90%;
    }
}